@import './bootstrap-reboot.min';

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?plzka6');
  src: url('fonts/icomoon.eot?plzka6#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?plzka6') format('truetype'),
    url('fonts/icomoon.woff?plzka6') format('woff'), url('fonts/icomoon.svg?plzka6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: '\e900';
}
.icon-google:before {
  content: '\ea88';
}
.icon-facebook:before {
  content: '\ea90';
}
.icon-instagram:before {
  content: '\ea92';
}
.icon-twitter:before {
  content: '\ea96';
}
.icon-linkedin2:before {
  content: '\eaca';
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #445161;
  margin-bottom: 35px;
}

ul {
  margin: 0;
}

.button {
  background-color: #fff;
  border-radius: 5px;
  outline: none;

  &:hover {
    background-color: rgb(235, 232, 232);
    transition: all 0.4s;
  }

  &:active {
    background-color: #fff;
  }
}

.header {
  background-color: #445163;
  min-height: 323px;
  padding: 50px 0 59px 0;

  &__wpr {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 60px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 50px;
  }

  &__list {
    &-item {
      padding-left: 10px;
      font-size: 20px;
      font-weight: 400;
      color: #fff;
      padding: 0;
      line-height: 35px;
      list-style-image: url(../icons/check_icon_346.png);
    }
  }

  &__logo {
    display: block;
    width: 469px;
    height: 214px;
    background-color: #ffffff;
  }
}

.product-article {
  min-height: 345px;
  padding: 50px 0 59px 0;

  &__wpr {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    text-align: left;
    margin-bottom: 30px;
  }

  &__p {
    width: 650px;
    margin-bottom: 20px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;

    &:last-child {
      margin: 0;
    }
  }

  &__figure {
    &-img {
      display: block;
      width: 430px;
      height: 245px;
      background-color: #445161;
    }
  }
}

.dignity {
  width: 100%;
  background-color: #f5f5f5;
  padding: 50px;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;

  &__title {
    width: 100%;
    margin: 0 0 30px 0;
  }

  &__wrapper {
    width: 50%;
    box-sizing: border-box;
  }

  &__details {
    width: 100%;
    min-height: 30px;
    margin: 0 0 20px 0;
    padding: 0 0 0 40px;
    box-sizing: border-box;

    &:nth-child(5) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__summary {
    display: block;
    outline: none;
    position: relative;
    width: 526px;

    &::-webkit-details-marker {
      display: none;
    }

    &:before {
      content: '+';
      display: block;
      width: 32px;
      height: 32px;
      background-color: #445161;
      color: #fff;
      font-size: 37px;
      text-align: center;
      line-height: 32px;
      position: absolute;
      top: 5px;
      left: -40px;
    }
  }
}

.dignity__details[open] .dignity__summary:before {
  content: '-';
}

.screenshots {
  padding: 51px 0 50px 0;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 1165px;
    margin: 35px auto 0 auto;
  }

  &__figure {
    display: flex;
    width: 575px;
    align-items: center;
    margin-bottom: 30px;

    &:nth-child(3) {
      margin: 0;
    }

    &:nth-child(4) {
      margin: 0;
    }

    &-wpr {
      width: 350px;
      margin-right: 16px;

      &:nth-child(2) {
        margin: 0;
      }

      &:nth-child(4) {
        margin: 0;
      }
    }

    &-img {
      display: block;
      width: 200px;
      height: 150px;
      background-color: #445161;
      margin-right: 15px;
    }

    &-title {
      font-size: 24px;
      font-weight: 400;
      color: #445161;
      margin-bottom: 15px;
    }

    &-p {
      font-size: 16px;
      font-weight: 400;
      color: #333333;
      margin-bottom: 0;
    }
  }
}

.reviews {
  padding: 50px 0 50px 0;
  background-color: #f5f5f5;

  &__article {
    display: flex;

    &:nth-child(3) {
      margin-top: 35px;
    }

    &:nth-child(4) {
      margin-top: 35px;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__figure {
    width: 75px;
    height: 75px;
    background-color: #445161;
    display: block;
    margin-right: 30px;
    margin-bottom: 0;
  }

  &__img {
    width: 100%;
    border-radius: 50%;
  }

  &__wpr {
    width: 470px;
    min-height: 121px;
    background: #ebebeb;
    padding: 16px 20px 16px 27px;
    position: relative;
    display: flex;
    flex-direction: column;

    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: -10px;
      width: 25px;
      height: 25px;
      background: #ebebeb;
      transform: rotate(-45deg);
    }
  }

  &__text {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-style: italic;
    margin-bottom: 0;
  }

  &__author {
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
  }
}

.buy {
  padding: 50px 0 50px 0;

  &__card {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: #445162;
    padding: 16px 0 20px 0;
    min-height: 306px;
    position: relative;

    &:nth-child(2) {
      min-height: 404px;
    }

    &:last-child {
      min-height: 500px;
    }

    &-wpr {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
    }

    &-title {
      text-align: center;
      color: #fff;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    &-price {
      text-align: center;
      background: #fff;
      color: #445162;
      font-size: 40px;
      font-weight: 400;
      border: 2px solid #445162;
    }
  }

  &__button {
    height: 40px;
    text-transform: uppercase;
    width: 250px;
    margin: 0 auto;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
  }

  &__ol {
    margin-top: 20px;
    padding: 0 20px 30px 40px;
    margin-bottom: 0;

    &-item {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}

.contacts {
  background-color: #445162;
  padding: 53px 0 49px 0;

  &__title {
    color: #fff;
    margin-bottom: 31px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__form {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-right: 45px;

    textarea {
      min-height: 170px;
      resize: none;
    }
  }

  &__input {
    width: 500px;
    height: 40px;
    margin-bottom: 21px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;

    &[placeholder] {
      color: #445162;
      font-size: 16px;
      font-weight: 400;
    }

    &:last-child {
      min-height: 170px;
      padding: 10px;
    }
  }

  &__button {
    display: block;
    text-transform: uppercase;
    width: 140px;
    height: 40px;
    margin: 0 auto;
  }

  &__figure {
    &-link {
      display: block;
      margin-bottom: 18px;

      &:nth-child(4) {
        margin: 0;
      }
    }

    &-img {
      margin-right: 5px;
    }
  }

  &__figcaption {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding-left: 30px;

    &::before {
      position: absolute;
      left: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__skype {
    &::before {
      content: url(../icons/skype_icon.png);
    }
  }

  &__icq {
    &::before {
      content: url(../icons/icq_icon.png);
    }
  }

  &__email {
    &::before {
      content: url(../icons/email_icon.png);
    }
  }

  &__phone {
    &::before {
      content: url(../icons/phone_icon.png);
    }
  }

  &__icon {
    width: 20px;

    &-link {
      width: 42px;
      height: 42px;
      background: #fff;
      font-size: 24px;
      font-weight: 400;
      border: 1px solid;
      border-radius: 50%;
      text-align: center;
      // padding-top: 8px;
      margin-right: 5px;
      color: black;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: black;
        text-decoration: none;
        transform: scale(1.2);
        transition: all 0.4s ease;
      }
    }

    &-wpr {
      display: flex;
      margin-top: 26px;
    }
  }
}
